h1{
    text-align: center;
    background-color: black;
    color: red;
}


header{
    background-color: rgb(0, 0, 0);
    padding: 20px 0;
}

.caixa{position: relative;
width: 940px;
margin:0 auto;
}

nav{position:absolute;
    top: 110px;
    right: 0;
}

nav li{
    display: inline;
    margin: 0 0 0 15;
}

nav {
    text-transform: uppercase;
    color: red;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover{
    color: black
    text-decoration:underline ;
    
}
.historia{
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}
.historia li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid ;
    border: 10px;
}
.historia li:hover{
    border-color: darkgrey;
}
.historia li:active{
    border-color: red;
}
.historia li:hover h2{
    font-size: 34px;
}
.fundação{
    font-size: 18px;
}
.historia{
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}
footer{
    background-color: black;
    text-align: center;
    padding: 40px 0;
}
.copyrigth{
    color: darkgrey;
    font-size: 13px;
    padding: 40px 0;
}
main{
    width: 940px;
    margin: 0 auto;
}
